@page "/taianh"

@rendermode InteractiveServer

<h3>TaiAnh</h3>

<InputFile OnChange="FileSeleted" accept=".png,.jpg,.gif"></InputFile>
<button @onclick="UploadFile">Upload</button>

@code {
    private IBrowserFile file;
    private async Task FileSeleted(InputFileChangeEventArgs e)
    {
        file = e.File;

    }
    private async Task UploadFile()
    {
        var filePath = Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", file.Name);
        using (var stream = new FileStream(filePath, FileMode.Create))
        {
            await file.OpenReadStream().CopyToAsync(stream);
        }

    }

}